.background{

    /* 
    We should prob use something like this for the relative look google doc shared link.
    */
    background-color: lightskyblue;
    height: 750px;
    width: 100vw;
    position: relative; /*we can use [position:absolute] to specify a location"*/
    margin-left: -50vw;
    margin-top: 0px;
    left: 50%; 
}


.character{
    background-image: url(assets/Player/mariosmall.png); 
    background-color: red;
    height:30px;
    width: 30px;
    position: absolute;
    bottom: 0px;
}

.enemy{
    background-color: green;
    height:30px;
    width: 30px;
    position: absolute;
    bottom: 0px;
}

.proj{
    background-color: purple;
    height: 10px;
    width: 30px;
    position: absolute;
    bottom: 15px;
}
ul, li { list-style-type: none; }
